:root {
  /* colores */
  --color-primary: #f4f4f4;
  --color-primary-light: #ffffff;
  --color-secondary: #b5e8e1;

  --color-gray: #606060;
  --color-gray-light: #f6f6f6;
  --color-gray-strong: #808080;
  --color-gray-tooltip: #cccccc;

  --color-white: #ffffff;
  --color-options: #b3b3b3;

  /* fuentes */
  --font-primary: Roboto;
  --font-icons: "Material Icons";

  /* fonts - px */
  --fonts-size-tabla: 5px;
  --fonts-size-opciones: 5px;
}
